<div class="todo">
  <form ng-submit="ctrl.addItem()" class="todo__form">
    <input type="text" ng-model="ctrl.newItem">
  </form>
  <div ng-if="!ctrl.editableData.length">Loading</div>
  <ul ng-if="ctrl.editableData.length" class="todo__list">
    <li ng-repeat="item in ctrl.editableData" ng-class="{done: item.completed}">
      <input type="checkbox" ng-model="item.completed" id="{{'id'+$index}}" ng-click="ctrl.editItem(item)">
      <label class="toggle" for="{{'id'+$index}}"></label>
      <p
        ng-dblclick="showEditableTitle = true; setFocus = true;"
        ng-hide="showEditableTitle">
        {{item.title}}
      </p>
      <input
        type="text"
        ng-model="item.title"
        ng-blur="showEditableTitle = false; setFocus = false; ctrl.editItem(item)"
        td-auto-focus="setFocus"
        ng-show="showEditableTitle"/>
      <a href="" ng-click="ctrl.removeItem($index)">&#10008;</a>
    </li>
  </ul>
</div>
